body{
    font-size: 2em;
    text-align: center;
}

#submit {
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    cursor: pointer;
    background-color: hsl(214, 100%,74%);
    transition: background-color 0,25s;
}

#submit:hover{
    background-color: orange;
}

#input {
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
}